Source: libsodium
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8), dh-autoreconf

Package: libsodium13
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://libsodium.org
Description: sodium crypto library
 Sodium is a modern, easy-to-use software library for encryption, decryption,
 signatures, password hashing and more.
 .
 It is a portable, cross-compilable, installable, packageable fork of NaCl,
 with a compatible API, and an extended API to improve usability even further.
 .
 Its goal is to provide all of the core operations needed to build higher-level
 cryptographic tools.

Package: libsodium-dev
Section: libdevel
Architecture: any
Depends: libsodium13 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Homepage: https://libsodium.org
Description: sodium crypto library development files
 Sodium is a modern, easy-to-use software library for encryption, decryption,
 signatures, password hashing and more.
 .
 It is a portable, cross-compilable, installable, packageable fork of NaCl,
 with a compatible API, and an extended API to improve usability even further.
 .
 Its goal is to provide all of the core operations needed to build higher-level
 cryptographic tools.
 .
 This package contains the development libraries.
